language: go
go: 1.8
matrix:
  include:
    - os: linux
    - os: osx
notifications:
  email: false
  slack:
    secure: X7uBLWYbuUhf8QFE16CoS5z7WvFR8EN9j6cEectMW6mKZ3vwXGwVXRIPsgUq/606DsQdCCx34MR8MRWYGlu6TBolbSe9y0EP0i46yipPz22YtuT7umcVUbGEyx8MZKgG0v1u/zA0O4aCsOBpGAA3gxz8h3JlEHDt+hv6U8xRsSllVLzLSNb5lwxDtcfEDxVVqP47GMEgjLPM28Pyt5qwjk7o5a4YSVzkfdxBXxd3gWzFUWzJ5E3cTacli50dK4GVfiLcQY2aQYoYO7AAvDnvP+TPfjDkBlUEE4MUz5CDIN51Xb+WW33sX7g+r3Bj7V5IRcF973RiYkpEh+3eoiPnyWyxhDZBYilty3b+Hysp6d4Ov/3I3ll7Bcny5+cYjakjkMH3l9w3gs6Y82GlpSLSJshKWS8vPRsxFe0Pstj6QSJXTd9EBaFr+l1ScXjJv/Sya9j8N9FfTuOTESWuaL1auX4Y7zEEVHlA8SCNOO8K0eTfxGZnC/YcIHsR8rePEAcFxfOYQppkyLF/XvAtnb/LMUuu0g4y2qNdme6Oelvyar1tFEMRtbl4mRCdu/krXBFtkrsfUaVY6WTPdvXAGotsFJ0wuA53zGVhlcd3+xAlSlR3c1QX95HIMeivJKb5L4nTjP+xnrmQNtnVk+tG4LSH2ltuwcZSSczModtcBmRefrk=

env:
  global:
  - secure: csSzCUQcVLEJvcBgdj0E7vVJo60hx5uUzCFEvHcT/pxRQ49EA7lWUm1E1+zfDTGpV3DjKT8Bx+FNUR7sBesnaYMU1JD3KMR0gjbxLahi/nkcn17XKKG45oLetQXUO4ATk9KrJHr7n3jYKD18hOhRYPwzIyT3BwFhU5bGUlVvCwEfns79CktSYyC4FvSMYAmuLwR7DN0xnb8gghreaZKQg+3162SAhtjRcr3yhaXeulFrDY2O5uEG+fPmusd/pGi/mD3AG7gqUGbi2a1v+Cu0ZOQzpwytvwb4+bRh9z3toPDMLsm2hKEffqWcK2vimQwBswRmCDxd4E9NEqvoV6B1AmVzYTVrVzyUt4sgUnfTtO1C77ju9Qc/fP6kFFMmsj8ub7akwYy5mJ1e/3girrvRNs+zg189GeHWNe5Xh81IiFJTWKHcizweyI2GHpcAv6/RVN+cvhDxY08eeYEj0NZYDmXZAGzYgYTZwrrLha6Q5KAfAm3MbJWVHzd5QDfiXodgw64fizgt1LGE5TsLQaUHHQWTRIt3dpXwSExnIdp1hs5tX3OlHimd6WD2eScyLptPVKvwxmHHPW1QJZcdHcfLgkhWKDslqeTuYMkJehFdyX85lPw7CO7diR5xnk74ExPxmPVw++0x51r2nhaKgPHBaA7VGqHZvqJ16130SN6jW8Q=

before_script:
- go get github.com/mattn/goveralls
script:
- go test -v -covermode=count -coverprofile=coverage.out
- goveralls -coverprofile=coverage.out -service=travis-ci
