name: ci-badger-tests

on:
  workflow_dispatch: # allows manual trigger from GitHub
  pull_request:
    paths-ignore:
      - "**.md"
      - docs/**
      - images/**
      - contrib/**
    branches:
      - main
      - release/v*

permissions:
  contents: read

jobs:
  cross-compile:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - goos: linux
            goarch: amd64
          - goos: linux
            goarch: arm64
          - goos: darwin
            goarch: amd64
          - goos: darwin
            goarch: arm64
          - goos: windows
            goarch: amd64
          - goos: aix
            goarch: ppc64
          - goos: plan9
            goarch: amd64
    steps:
      - uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Cross-compile for ${{ matrix.goos }}/${{ matrix.goarch }}
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
        run: go build ./...

  badger-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Install Dependencies
        run: make dependency
      - name: Run Badger Tests
        run: make test
