services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: badger_keys
    ports:
      - "5432:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data
